.balanceContainer {
    margin-top: 3.125rem;
    padding: 30px;
    border: 1px solid var(--grey-2);

}

.valueDiv {
    display: flex;
    justify-content: space-between;
    margin-bottom: 1rem;
    gap: 10px;
    width: 100%;
}