:root{
    --primary-color1: #FD377E;
    --primary-color2: #E34981;
    --secondary-color: #03B898;

    --grey-1:#F8F9FA;
    --grey-2:#E9ECEF;
    --grey-3:#868E96;
    --grey-4:#212529;

    --font-primary: 'Nunito', sans-serif;

}